<!DOCTYPE html>

<html>
  <head>
    <title>Login</title>
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
    </style>

  </head>

  <body>
    <a href="/signup">Create user</a><p>
    <h2>Login</h2>
    <form method="post">
      <table>
        <tr>
          <td class="label">
            Username
          </td>
          <td>
            <input type="text" name="usr" value="{{usr}}">
          </td>
        </tr>

        <tr>
          <td class="label">
            Password
          </td>
          <td>
            <input type="password" name="pass" value="">
          </td>
          <td class="error">
	    {{login_err}}
          </td>
        </tr>

      </table>

      <input type="submit">
    </form>
  </body>

</html>
