{% extends 'layout.html' %}

{% block title %}
Archive Search Results
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-md-10 main pull-left">
            <h2>Search</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9 col-md-10 main pull-left">
            <form role="form" class="form-horizontal" action="/search" method="POST">
                <div class="form-group">
                    {{errs}}
                    <input type="search" name="search_text" class="form-control" value="{{text}}" placeholder="Search">
                </div>
                <div class="form-group">
                    <div class="col-sm-4 col-md-3">
                        <select name="search_area" class="form-control">
                            <option value="" selected="selected">Search Area</option>
                            {% for it in areas %}
                                <option class="form-control" value={{ it.key }}>{{ it.name }}</option>
                                {% if it.key == area %}
                                    <option class="form-control" value={{ it.key }} selected="selected">{{ it.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <input type="tel" class="form-control" name="phone" value="{{phone}}" size="13" placeholder="Phone">
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <input type="email" class="form-control" name="email" value="{{email}}" size="13" placeholder="Email">
                    </div>
                    <div class="pull-left">
                        <input type="submit" class="btn btn-default" value="Search">
                    </div>
                </div>
            </form>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9 col-sm-offset-1 col-md-10 col-md-offset-1 main pull-left">
            {% for document in docs %}
                <form action="/show" method="POST">
                    <input type="hidden" name="id" value="{{document._id}}"/>
                    <a href="#" onclick="this.parentNode.submit()">{{document._id}}</a>
                </form>
            {% endfor %}
            <br>
            <ul class="pager">
                {% if first_doc %}
                    <li class="previous"><a href="/search/?{{qs}}&page={{prev}}"><b>&laquo;</b></a></li>
                {% else %}
                    <li class="disabled previous"><a href="#" class="grey-out">&laquo;</a></li>
                {% endif %}
                <li class="pagenum"><a><b>{{first_doc}} of {{count}}</b></a></li>
                {% if next %}
                    <li class="next"><a href="/search/?{{qs}}&page={{next}}"><b>&raquo;</b></a></li>
                {% else %}
                    <li class="disabled next"><a href="#">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
